@import '../variables.scss';

.CoursesLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin-bottom: 20px;
  }

  animation: appear 0.4s ease-in;
  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
