@import '../variables.scss';

.SocialItems {
  margin: 20px auto;
  padding-bottom: 20px;
  max-width: 600px;

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 0 20px;
  }

  img {
    width: 45px;
    height: 45px;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  img:hover,
  img:focus {
    transform: scale(1.25);
  }

  animation: appear 0.8s ease-in;
  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
